src/main/java/jaxb/Category.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="www.Category.com"
           xmlns="www.Category.com"
           elementFormDefault="qualified"
>
    <xs:simpleType name="ID">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <xs:simpleType name="Name">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>

    <xs:element name="Category">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="ID"/>
                <xs:element name="Name" type="Name" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>



</xs:schema>

